body {
	font-style: normal;
	font-size:100%;
	font-family:arial, sans-serif;
}

#container {
	float:left;
	margin-top:16px;
	margin-left:10px;
}

#footnote{
    position:absolute;
    bottom:0;
    margin-left:20;
    color:#3e4b2e;
    margin-bottom:40px;
    width:100%;
}

#contactme{
    position:absolute;
    top:200;
    margin-left:40px;
    margin-bottom:40px;
    width:100%;
}

.last{
 float:right;
 margin-right:5px;
}

h1 {
	font-size:2.8em;
	color:#817339;
    margin-left:20px;
}

h2 {
	font-size:1.25em;
	color:#C8B560;
    margin-top:5px;
    margin-left:20px;
}

#main h2 {
	margin-bottom:35.5px;
}

.header {
	text-align:center;
}

.list li{
	text-transform:uppercase;
	font-size:1.25em;
	color:#817339;
	margin-left:43px;
    float:left;
}


.list li:hover{
	color:#C8B560;
}

