body {
	font-style: normal;
	font-size:100%;
	font-family:Arial, sans-serif;
}

#container {
	float:left;
	margin-top:16px;
	margin-left:10px;
}
h1 {
	font-family: Arial;
	font-size:2.5em;
	color:#728588;
}

h2 {
	font-family:Arial;
	font-size:1.25em;
	color:#90cace;
}

#main h2 {
	margin-bottom:35.5px;
}

.header {
	text-align:left;
}

.list li{
	font-family:Arial;
	text-transform:uppercase;
	font-size:1em;
	color:#728581;
	margin-left:23px;
    float:left;
}


.list li:hover{
	color:#90cace;
}

