@font-face {
    font-family: 'monaco';
    src: url('../fonts/monaco.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-style: normal;
	font-size:100%;
	font-family:monaco, sans-serif;
}

#container {
	float:left;
	margin-top:16px;
	margin-left:10px;
}

#footnote{
    position:absolute;
    bottom:0;
    margin-bottom:10px;
    background:#C8BBBE;
    width:100%;
}

.last{
 float:right;
}

h1 {
	font-size:2.5em;
	color:#817339;
}

h2 {
	font-size:1.25em;
	color:#C8B560;
}

#main h2 {
	margin-bottom:35.5px;
}

.header {
	text-align:left;
}

.list li{
	text-transform:uppercase;
	font-size:1em;
	color:#817339;
	margin-left:23px;
    float:left;
}


.list li:hover{
	color:#C8B560;
}

