@charset "utf-8";
/* CSS Document */

/* Common styles */
h1, h2, h3, h4, h5, h6, a, p, ul, li, ol { padding:0px; margin:0px; text-decoration:none; list-style:none; }
body, html { padding:0px; margin:0px; }
a, input { outline:none; }
a { cursor:pointer; }
.clear { clear:both; }
.lft_clr { clear:left; }
.rgt_clr { clear:right; }
body { color:#565656; font-size:14px; font-family: Arial; line-height:18px; }
/*header */
header { width:100%; height:auto; }
header .head_top_wrap { width:100%; margin:0px; padding:0 0 0 0; min-height:84px; width:100%; background-color:#141414; }
header .head_btm_wrap { width:100%; margin:0px; padding:0 0 0 0; min-height:30px; background-color:#0c7c97; }
.head_wrap { width:970px; margin:0px auto; padding:0 0 0 0; }
.head_top_wrap .logo { float: left; min-height:62px; padding:0 0 0 3px; }
.head_top_wrap .logo a { text-indent:2500px; line-height: 25px; margin: 27px 0 0; color:#eaffd4; font-size:30px; background: url(../images/logo.png) no-repeat; height:26px; width:160px; float: left; text-indent: -2500px; }
.head_top_wrap .header_searchbox { float:left; padding:8px 0 0 76px; }
.head_top_wrap .header_searchbox p { color:#bcbcbc; font-size:12px; line-height:18px; padding:0 0 2px 11px; }
.head_top_wrap .hdr_sbox input[type="text"] { background:url(../images/mc_searchbox.jpg) no-repeat; width:314px; height:26px; border:0px; padding:0 0 0 10px; font-size:10px; }
.head_top_wrap .hdr_sbox { position: relative; float:left; }
.head_top_wrap .srch_box { font-size: 10px; letter-spacing: 1px; padding: 4px 25px 4px 8px; position: absolute; right: 0; top: 0; }
.head_top_wrap .srch_btn { background:url(../images/mc_searchbtn.jpg) no-repeat; width:75px; height:26px; cursor:pointer; border:0px; }
.head_top_wrap .hdr_sbtn { float: right; padding:0 0 0 1px; }
.head_top_wrap .header_signin { float: right; padding: 37px 13px 0 0; }
.head_top_wrap .header_signin a { color: #FFFFFF; font-size: 14px; float:left; }
.head_top_wrap .sign_arrow { background: url(../images/mc_content_icons.png) no-repeat scroll -3px -34px transparent; float: right; height: 9px; margin: 7px 0 0 3px; width: 10px; }
/* */
.head_btm_wrap .hdr_menu { list-style:none; padding:0px; margin:0px; }
.head_btm_wrap .hdr_menu li { color: #FFFFFF; float: left; padding: 5px 20px; background: url(../images/mc-menu-bdr-rgt.png) no-repeat right center; }
.head_btm_wrap .hdr_menu li:nth-child(1) {padding-left:0px;}
.head_btm_wrap .hdr_menu li:nth-child(4) {background:none;}
.head_btm_wrap .hdr_menu li a { color:#ffffff; font-size:14px; font-weight:normal; float:left; }
.head_btm_wrap .sign_arrow { background: url(../images/mc_content_icons.png) no-repeat scroll -3px -34px transparent; float: right; height: 9px; margin: 7px 0 0 3px; width: 10px; }
.head_btm_wrap .hdr_menu_rgt { float:right; padding:0 11px 0 0; }
.head_btm_wrap .hdr_menu2 { float:left; padding:0px; margin:0px; }
.head_btm_wrap .hdr_menu2 li { float: left; padding: 5px 0 0 0; margin:0px 2px; }
.head_btm_wrap .hdr_menu2 li a.hdr_resource { text-indent:0px; float:left; background:none; width:68px; padding: 0 10px 0 0; }
.head_btm_wrap .hdr_menu2 li a { float:left; text-indent:-2500px; background-image: url(../images/mc_top_links.png); width:20px; color:#ffffff; }
.head_btm_wrap .hdr_resource .arrow { background: url(../images/mc_top_links.png) no-repeat 0px 1px; width:20px; float: right; height: 15px; width: 7px; }
.head_btm_wrap .hdr_mail { background-position:-20px -84px; }
.head_btm_wrap .hdr_draw { background-position:-44px -84px; }
.head_btm_wrap .hdr_report { background-position:-67px -84px; }
.head_btm_wrap .hdr_serach { background-position:-91px -84px; }
/* section */
section { background-color:#f3f3f3; width:100%; min-height:500px; /*display: inline-block;*/ float:left; }
#wrapper { width:970px; margin:0px auto; padding:0 0 20px 0;/*display: table;*/ }
.body_top { min-height:106px; width:100%; float:left; }
.body_top h2 { color: #3F7A00; float: left; font-size: 30px; line-height: 38px; padding: 33px 0 0; }
/* */

.body_left { background: url(../images/mc_lft_nav.jpg) repeat-y; width:178px; height:auto; min-height:500px; position: relative; float:left; }
.body_left .top_menu { height:48px; border-bottom:1px solid #dedede; margin: 0 4px 0 0; }
.body_left .top_menu p { color: #565656; font-size: 14px; line-height: 18px; padding: 15px 0 0; text-align: center; }
.body_left .menu_list { list-style:none; padding:0px; margin:40px 0 0 0px; }
.body_left .menu_list li { float:left; padding:0px 4px 0 0; width:170px; }
.body_left .menu_list li:hover a, .menu_list li.act a { background:url(../images/mc_nav_arrow.png) no-repeat left center; color:#2296cb }
.body_left .menu_list li.act a { color:#2296cb; }
.body_left .menu_list li:hover .count_list { color:#2296cb }
.body_left .menu_list li a { color:#141414; font-size:14px; line-height:18px; padding:7px 0 7px 23px; float:left; width:80%; }
.body_left .count_list { float: right; }
.body_left .credit_summary_box { float:left; bottom:0px; left:0px; position:absolute; padding:0 0 27px 21px; }
.body_left .credit_summary_box p { color: #141414; float: left; font-size: 14px; width: 100%; }
.body_left .credit_summary_box p > a { color: #141414; float: left; font-size: 14px; float:left; }
.body_left .credit_summary_box p .arrow_credit { padding:0 0 0 0px; background: url("../images/mc_nav_arrow.png") no-repeat scroll right center transparent; color: #2296CB; float:left; height: 20px; width: 15px; }
.body_left .email_count { float: left; padding: 16px 0; width: 65px; }
.body_left .sms_count { float: left; padding: 16px 0; width: 65px; }
.body_left .email_no, .body_left .sms_no { color: #4D9400; font-size: 30px; font-weight: bold; padding: 10px 0; }
.body_left .email_txt, .body_left .sms_txt { text-transform:capitalize; font-size:12px; }
.body_left .addMore_btn { background: url(../images/add_more.jpg) no-repeat; width:68px; height:19px; cursor:pointer; }
/* */
.main_container { height:500px; overflow-y: scroll;}
.body_right { width:790px; padding:0 2px 0 0; float:left; /*background-color:#ffffff;*/ min-height:500px; background: url("../images/cm_rgt_brder.png") repeat-y scroll right center transparent; }
.body_right .top_menu { height:48px; border-bottom:1px solid #dedede; }
.body_right .top_menu p { color: #565656; font-size: 14px; line-height: 18px; padding: 15px 0 0; text-align: center; }
.body_right .content_menu { float:left; list-style:none; padding:0 0 0 20px; margin:0 0 0 0; }
.body_right .content_menu li { float:left; padding: 0 30px 0 0; margin:0 0 0 0; line-height:40px; cursor:pointer; }
.body_right .content_menu li a { color: #0086C3; float: left; font-size: 15px; line-height: 24px; padding: 13px 0 0; }
.body_right .content_menu li span { background-image: url(../images/mc_content_icons.png); float: left; height: 48px; width: 30px; margin:0 4px 0 0; }
.body_right .outbound_icon { background-position:0px 10px; }
.body_right .bounceback_icon { background-position:-32px 10px; }
.body_right .referral_icon { background-position:-66px 10px; }
.body_right .setting_icon { background-position:-100px 10px; }
.body_right .content_menu_box2 { float:right; }
.body_right .content_menu_box { float:left; }
.body_right .file_content_menu { height:29px; width:100%; background:#f4f4f4; border:1px solid #dedede; border-left:0px; border-right:0px; border-top:0px; }
.body_right .content_row { float: left; margin: 0 0px; padding: 0; width: 100%; }
.body_right .content_row li { float:left; list-style:none; }
.body_right .content_row li a { color: #565656; float: left; font-size: 14px; padding: 5px 0; }
.body_right .content_row li:first-child { padding-left:20px; }
.body_right .content_row li:last-child { padding-right:20px; }
.body_right .content_type { width: 8%; }
.body_right .content_name { width: 16%; }
.body_right .content_validity { width: 16%; }
.body_right .content_customers { width: 17%; }
.body_right .content_coupons { width: 17%; }
.body_right .content_link { width:5%; }
.body_right .content_issued { width: 15%; }
.body_right .content_row2 { float: left; margin: 0 0px; padding:15px 0; width: 100%; min-height:50px; border-bottom:1px solid #dedede; }
.body_right .content_row2 li { float:left; list-style:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.body_right .content_row2 li p { color: #232323; font-size: 14px; padding: 5px 0; }
.body_right .content_row2 li small { float:left; width:100%; }
.body_right .content_row2 li:first-child { padding-left:20px; }
.body_right .content_row2 li:last-child { padding-right:20px; }
.body_right .small_outbound_icon { background: url("../images/mc_content_icons.png") no-repeat scroll -127px 0 transparent; cursor: pointer; float: left; height: 30px; width: 30px; }
.body_right .small_bonuce_icon { background: url("../images/mc_content_icons.png") no-repeat scroll -154px 0 transparent; cursor: pointer; float: left; height: 30px; width: 30px; }
.body_right .content_link > a { float: right; padding: 8px 0 0; }
.body_right .loding { display: inline-block; margin: 20px auto; text-align: center; width: 100%; color:#3f7a00; }
.wrap_inner { background: url("../images/cm_repeat_body.jpg") repeat-y scroll left center #FFFFFF; float: left; height: 100%; width: 100%; margin-bottom:50px; }
.single-line { background: url("../images/cm_btm_brdr.png") repeat-x scroll left center transparent; float: left; height: 5px; position: relative; width: 100%; z-index: 1000; }
.loding_box { width:100%; float:left; }
/*footer */
footer { height:112px; background: url(../images/mc_footer_bg.jpg) repeat-x; width:100%; float:left; }
.footer_wrap { width:970px; margin:0px auto; padding:0 0 0px 0; }
.cpy_right { color: #706C6C; float: left; padding: 20px 0 0; }
.social_network { float: right; padding: 20px 0 20px 20px; }
.social_ul { list-style:none; padding:0px; margin:0px; }
.social_ul li { float:left; }
.social_ul li a { height:30px; width:16px; padding:0px 10px; cursor:pointer; background-image: url(../images/mc_social_link.png); float:left; text-indent:-2000px; }
.fb_linke { background-position:0 0; }
.twitter_linke { background-position:-39px 0; }
.linked_in { background-position:-78px 0; }
.google_linke { background-position:-118px 0; }
/*form */

.popup_login { background-color: #FFFFFF; border: 1px solid #969696; min-height: 300px; position: absolute; right: -27px; top: 27px; width: 374px; display:none; }
.header_signin > form { position: relative; }
.popup_login ul { float:left; width:100%; padding:0px; margin:0px; }
.popup_login ul li { border-bottom:1px solid #969696; float:left; width:100%; }
.profile_photo { width:98px; height:120px; border:1px solid #969696; float:left; }
.popup_inner_wrap { padding:20px; float: left; }
.profile_menu { float:right; padding:0 0 0 20px; width: 210px; }
.profile_menu .user_name { color: #3F7A00; font-size: 30px; line-height: 25px; overflow: hidden; padding: 0 0 10px; text-overflow: ellipsis; white-space: nowrap; }
.profile_menu .user_mail { color: #565656; font-size: 14px; line-height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.profile_menu .white_space { height:15px; }
.head_top_wrap .profile_menu p { float:left; width:100%; }
.profile_menu .user_account { color:#4a7d95; }
.profile_menu .user_setting { color:#4a7d95; }
.profile_menu .user_help { color:#4a7d95; }
.head_top_wrap .profile_menu a { color:#4a7d95; }
.user_switch_ac { color:#3F7A00; font-size:14px; float:left; text-align:left; width: 100%; }
.head_top_wrap .user_switch_ac a { float:none; color:#4a7d95; padding:0 0 0 20px; }
.user_view { float: left; }
.head_top_wrap .user_view a { color: #4A7D95; float: left; padding: 10px 0 0; }
.user_logout { width:109px; height:29px; border:1px solid #df7a7a; background-color:#f8bcbc; color:#642424; text-align:center; padding:0 0 0 0; margin: 10px 10px 10px 0; float:right; line-height: 29px; cursor: pointer; }
.head_top_wrap .popup_login li:nth-child(3) {border-bottom: 0 none;}
.popup_arrow { background: url("../images/mc_popup_arrow.png") no-repeat scroll 0 0 transparent; height: 20px; position: absolute; right: 20px; top: -10px; width: 20px; }
.row_popup_box { border:1px solid #b8c0af; width:130px; padding:10px 5px }
.row_popup_box li a { color:#4a7d95; width:100%; padding:10px 0; }
.row_popup { display: none; position: absolute; background-color:#f7ffee; z-index:5000; }
.row_popup_box > li { padding: 5px 20px; }
.row_popup_arrow { background: url("../images/mc_mouse_over_popup.png") no-repeat scroll 0 0 transparent; height: 20px; position: absolute; right: 15px; top: -9px; width: 20px; }
