@CHARSET "UTF-8";
div.async-menu-widget {
				
	display: block;
	float: left;
	width: 150px;
	background: #fff;
	margin-top: 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-right: 100%;
	margin-bottom: 10px;
}
			
ul.async-menu {
	
	display: block;
	margin-left: 5px;
}
			
p.async-menu-label {
				
	color: #999;
	text-align: left;
	padding: 10px 0px 0 0;
}
			
ul.async-menu > li {
	
	list-style: none;
	display: block;
}
			
a.async-menu-item {
	
	color: #666;
	display: block;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #eee;
	border-left: 0; border-right: 0;
	margin-top: -1px;
}
			
a.async-menu-item:hover {
				
	color: #000;
	background-color: #eee;
}
			
select,option {
				
	font: normal normal 12px/12px 'Trebuchet MS',sans-serif;
}
			
.current{
				
	background-color: #fff;
}
