#create_campaign_menu  #menu_list{
	
	margin-top : 15px;
	display: block; 
	float : left;
}

#create_campaign_menu  #info{
	
	padding-top : 85px;
	margin-right : 2%;
	margin-left : 2%;
	display: block; 
	border:1px;
	float : left;
	font-weight: bold;
}

#create_campaign_menu #menu_list{

	padding-top : 4%;
	margin-right : 5%;
	padding-bottom : 1%;
	float : left;
}


#create_campaign_menu #menu_list #info{

	width : 100%;
	padding-top : 2px;
	float:left;	
	align : center;
	
}

#campaigns_info_widget  {
	
	height : 40px;
	/*margin:-10px -20px 0 -20px;*/ /* Edited By Aakash */
	background:#5b3;
}


.step a{ color: inherit;}
.cheveron { position: absolute; left: -10px; height: 100%; width: 20px; background: url('../images/new-arr.png') no-repeat center center; }
.first .cheveron { display: none; }
div.step:hover { background: #5D3; color: #fff; }
div.step.selected { background: #000; color: #fff; }

#campaigns_info_widget a {
	
	color: #fff;
	float : left ;
	width : 10%;
	margin-top:5px;
	text-decoration: none; margin-left:2%;
	overflow : hidden;
}

#campaigns_info_widget #campaigns_name{

	color: #fff;
	margin-left : 5%;
	width : 25%;
	margin-top:10px;
	float : left ;
}
#campaigns_info_widget #campaigns_code{

	color: #fff;
	margin-left : 2%;
	width : 20%;
	margin-top:10px;
	float : left ;
}

#campaigns_info_widget #campaigns_creation_date{

	color: #fff;
	margin-left : 5%;
	width : 15%;
	margin-top:10px;
	float : left ;
}

#campaigns_info_widget #campaigns_tools{

	color: #fff;
	margin-right : 5px;
	width : 15%;
	height : auto;
	float : right;
	valign : top;
}

.widget_right{
	float: right; top:10px;
}

#main {
	min-height: 550px;
}


#page_footer{

	float : left;
	width : 97%;
	margin-left: 2%;
	margin-right: 2%; 
	font-size: 10px; background: #eee; height:29px;
	text-align: center; border-top: 4px solid #eee;
	clear : both;
}

img{
	border:none;
}

.indicator{
	position:	fixed;
	top:		0px;
	left:		0px;
	right:		0px;
	bottom:		0px;
	opacity:	.8;
	width:		50%;
	vertical-align: middle;	
	background:	url(../images/indicator.gif) center 340px no-repeat;
	background-color:black;
	z-index:	999;
}
.indicator div{
	vertical-align: middle;
	font-size:	28px;
	color:		#91d0e6;
	margin:		auto;
	padding-top:	300px;
}

.frame_indicator{

	position: fixed;
	top: 60px;
	left: 320px;
	right: 100px;
	bottom: 15px;
	opacity:	.8;
	width:		50%;
	height: 50%;
	vertical-align: middle;	
	background:	url(../images/indicator.gif) center 200px no-repeat;
	z-index:	999;
}

.frame_indicator div{
	vertical-align: middle;
	font-size:	28px;
	color:		#91d0e6;
	margin:		auto;
	padding-top:	300px;
}

.indicator_1{
	position:	fixed;
	top:		0px;
	left:		0px;
	right:		0px;
	bottom:		0px;
	width:		100%;
	vertical-align: middle;	
	background:	url(../images/ajax-loader.gif) center 340px no-repeat;
	background-color: #eee;
	opacity: 0.4;
	z-index:	999;
}
.indicator_1 div{
	vertical-align: middle;
	font-size:	28px;
	color:		#91d0e6;;
	margin:		auto;target_load
	padding-top:	300px;

}

.indicator_3{
	float:right;
	position:absolute;
}
.target_load{
	float:right;
}

.widget{
	border:2px solid #0074c5;
	position : absolute;
	background:white;
	padding:20px;
	color:#444444;
	font-size:12px;
	margin-left:0px;
}
.widget h1{
	color: #0074c5;
	font-size:24px;
	border-bottom:1px solid #aaaaaa;
}

#logarea {
	margin:0;
	width:100%;
	//padding-top: 20px;
	text-align:center;
	//min-height:120px;
	//background-color:#91d0e6;
	background: url(../images/footershade.png) top left repeat-x;
}
.log {
	//margin:20px;
	border: 1px dashed #444444;
	padding:10px;
	text-align:left;
	overflow:none;
}

.log textarea{
	width:100%;
	scroll:auto;
	height:200px;
	background-color:#cccccc;
	border:none;
}


#actiontabbar {
        margin: 0 20px;
        background: #eee;
        padding-bottom: 1px;
        height: 40px;
        overflow: visible;
        width: 103%;
        margin-left: -2%;
}
#actiontabbar .inner {
        margin: 0 20px;
        position: relative;
        padding-right: 2px;
}
#actiontabbar .acttab {
        position: relative;
        display: block; float: left; width: 15%; height: 40px;
        background: #eee;
        font-weight: bold; color: #999; line-height: 40px;
        text-align: center; cursor: pointer;
        overflow: hidden; white-space: nowrap;
        border-right: 1px solid #ccc;
        border-top: 0;
        margin-right: 1px;
}

#actiontabbar :hover.acttab { color: #000; }
#actiontabbar .acttab.sel {color: #999; background: white; border-bottom: 1px solid white; }
#actiontabbar :hover.acttab.sel { color: #000; }

#page_footer{

       float : left;
       width : 97%;
       margin-left: 2%;
       margin-right: 2%; 
       font-size: 10px; background: #eee; height:29px;
       text-align: center; border-top: 4px solid #eee;
       clear : both;
}

.btn.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)), 
        color-stop(.25, transparent),
        color-stop(.5, transparent), 
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)), 
        color-stop(.75, transparent), 
        to(transparent));
    background-image: 
        -moz-linear-gradient(-45deg, 
            rgba(0, 0, 0, .10) 25%, 
            transparent 25%,
            transparent 50%, rgba(0, 0, 0, .10) 50%, 
            rgba(0, 0, 0, .10) 75%, 
            transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    } 
    to {
       background-position: -50px 0;
    }
}

.create_instant_coupon_button, .savebutton {
	font-size: 14px;
	color: white;
	background:	#5B3;
	padding: 8px 4px;
	width: 100px;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #333;
	border-bottom: 1px solid #111;
	border-radius: 5px;
	-webkit-border-radius: 5px;	
}
.counter{
	font-weight:bold;
	color:darkcyan;
}
.warning{
	color:maroon!important;
}
.exceeded{
	color:red!important;
}
.brand{
	background: url(/images/new_header_logo.png) no-repeat center top;
	height: 60px;
	margin-top: -1.2%;	
	background-size: 70%;
}

.footer-logo{
	margin-left: -1.7%!important;
	margin-top: -0.4%!important;
	width:28%;
}

.iframe-footer-logo{
	
	display: block;
	float: right;
    margin-left: -0.7% !important;
    margin-top: -6% !important;
    width: 24%;
}

.brand_logo{
	
	margin-top: -5%;
	margin-bottom: -8%;
	background-size: 70%;
	margin-left: 15%;	
}

.create_new_entry{

	text-decoration: underline;
	color: green;
	cursor: pointer;	
}

.header-first{
	color: white;
	text-align: center !important;
	background: #6299CE !important;
	padding-left: 0px !important;
	width:450px;
	border-bottom: 1px solid #CCC;
}
.head-first{
	color: white;
	text-align: center !important;
	background: #6299CE !important;
	padding-left: 0px !important;
	width:200px;
	border-bottom: 1px solid #CCC;
}
.head_second{
	color:white;
	text-align: center !important;
	background-color:#377592 !important;
	padding-left: 0px !important;
}
.head_store{
	color:white;
	text-align: center !important;
	background-color:#377592 !important;
	padding-left: 0px !important;
	width:260px;
}
.styled-select{
   width: auto;
}
.request-credit.{
	position: fixed !important;
	border: 0 !important;
	top: 20px !important;
	left: 34% !important;
	right: 100px !important;
	z-index: 101 !important;
	bottom: 15px !important;
	width: 35% !important;
	height: 48% !important;
}

.conquest {
	background-image: url(../images/newUI/AnalaysIcon.png);
}

.datatable-store{
	border: 1px solid #CCC !important;
}
table.display thead > tr {
	border-bottom: 0px!important;
}

.multibox-add-button{
	margin-left: 30px;
	margin-bottom: 45px !important;;
	width: 64px;	
}

.multibox-remove-button{
	margin-left: -73px;
	margin-top: 25px;
	margin-right: 22px;
}

.parent_sub_tag{
	list-style: none!important;
	margin-bottom: 0px!important;
}

#error_verify{color: #DD4B39;float: right;margin-bottom: 10px;margin-top: -6px;margin-right: 62%;}
.btn-admin{ margin-left: 29%;margin-bottom: 10px !important;margin-top: -6px;}
.cnf-pin{ width: 118px;margin-left: 15.2%;margin-top: -6px;}
.btn-cnfm{ float: right;margin-right: 62%;width: 83px !important;margin-top: -7px;}
.form-fields-container {margin: 20px 0px 0px 10px;}
.add-usr-form{ float: right;margin-right: 62%;}
.btn1 {
  padding: 4px 10px 4px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.verify-msg-admin {color: green;float: right;margin-bottom: 10px;margin-top: -6px;margin-right: 62%;}
#add-new-entity{ color: green; font-size: 11px; }

.create_loyalty_program{
	text-decoration: underline;
	text-align: center!important;
}

.new_calender_img{
	margin-left : -0.5%;
	margin-top: -0.5%;	
}

/** Internet Status related css blocks styling **/

.gen-status-msg-link{
	text-decoration: underline;
	color: black;
}

.gen-status-msg-v1{
	font-weight: bold;
}

.gen-status-tracker-block{
	width: 100%;
	position: fixed;
	height: 100%; 
	background-color:black;
	opacity:0.7;
	z-index: 32767;
}

.gen-status-container{
	border: 1.9px solid;
	border-color: #F0C36D;
	background-color: #F9EDBE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 25%;
	z-index: 32768;
	margin-left: 36%;
	padding: 0.5%;
}

div.bulk-action{ margin: 10px; }
a.bulk-action{ margin: 5px; }
.security-submit{ margin-right: 80px; }
.overview-ul{ text-align: center; }
#campaign_overview{ margin-left: 20px; }
.opn_link{ margin-bottom: 8px; }
.icon-size{ font-size: 16px; }
#tag-notif{ color: black; }
.btn-mar{ margin-left : 3px; }
.add-edit{ margin-botton: 10px; margin-left: 3px;}
.redError{ background: red!important; color: black!important;}

.ajax_error{
	font-size:20px;
	font-weight: bold;
	padding:5px;
}
.custom_field{
	background-color: #ddd!important;
}
.task-name-mrg{margin-left:15px;}
#task_form{margin:10px;background:white;border:1px solid #E9E9E9;}
.li-padding{padding:2px;}
.filter-submit{float:right!important;margin-right:80px;}
.modify-filter{margin:3px!important;}
.task-report{color:#08C;text-align: center;}
.task-error{display:none;margin-left: 39%;}
.margin-email{float:right;margin-right: 62%;}
.target-loader{float:left;}
.load-email{
	margin: 4px 0px 0px 2px;
	position: absolute;
}
.btn-verify{
	float: left;
	margin-left: 29%;
	margin-top: -6px;
	margin-bottom: 8px; 
}
#email-error-msg{ 
	color: red;
	float: left;
	margin-left: 24%;
	margin-top: -6px;
	margin-bottom: 8px;
}
.verify-email-msg{
	color: green;
	float: left;
	margin-left: 28%;
	margin-top: -6px;
	margin-bottom: 8px;
}
.error_msg_admin{
	float: right;
	margin-right: 62%;
	margin-bottom: 8px;
	margin-top: -6px;
	color: red
}

#old_merge_details{
	border: 1px solid;
	padding: 10px;
	overflow: auto;
}

#merge-header{
	margin-bottom: 5px;
	text-align: center;
}

.add_modify_slabs{
	clear:both;
	margin-top:60px;
}
.import-form{ float: right; margin-right: 1%;}
.help-header{ margin-bottom: 1%;}
.upload-submit{ margin-top: 5%;}
#list-search{margin-left: 5.5%;}
div.proxy-content {
width: 250px;
height: 190px;
overflow-y: auto;
}