@CHARSET "ISO-8859-1";

/* Basic Reset */

#fmap #main

{

	display:inline-block;	/* Wrap with content */

}

#fmap div.col

{

	float:left;

	width:150px;	

	height:auto;	

	overflow:auto;

}

#fmap div #updatedF

{

	width:310px;

	padding:0px;

}

#fmap #newName div {
	text-align:center;
}

#fmap div #inF

{

	padding:.1em 5px;

	border

}

#fmap li div

{

	border:0px;

}

/* Headings */

#fmap ol

{

	list-style-type: none;

	padding: 0px;

	margin: 0px;

}

#fmap ol li 

{

	clear:both;

}

#fmap ol li a.open

{

	background:#ccc url(/cheetah/images/conquest/fold.png) 1px -15px no-repeat; 

	color:#000;

	height: 1em;

	display:block;

	padding:2px 0px 4px 20px;

}

#fmap ol li a.opendim

{

	background:#ddd url(/cheetah/images/conquest/fold.png) 1px -15px no-repeat;

	color:#333;

	height: 1em;

	display:block;

	padding:2px 0px 4px 20px;

}


#fmap ol li a.closed

{

	background:#505050 url(/cheetah/images/conquest/fold-closed.png) 1px 5px no-repeat;

	color:white;

	height: 1em;

	display:block;

	padding:.3em 0px .5em 15px;

}

#fmap ol li a.closeddim

{

	background:#ddd url(/cheetah/images/conquest/fold.png) 1px 2px no-repeat;

	color:#333;

	height: 1em;

	display:block;

	padding:2px 0px 4px 20px;

}





/* Sub Headings */

#fmap ul

{

	list-style-type: none;

	padding-left: 20px;

	margin: 0px;	

}

#fmap ul li, #fmap ol li

{

	padding:3px 5px;

}

#fmap div.col ul a, #newName a

{

	height:1em;

	display:block;

	padding:.2em 0 .4em 5px;

	background:none;

	color:#000;

}

#fmap #currF ul a

{

	display:block;

	padding-right: 15px;

	padding-left: 2px;

	background: #ffffff;
	
	color:#000;

}

#fmap #currF ul a:hover

{

	background: #f8f8f8 url(/cheetah/images/conquest/a-right.gif) right center no-repeat;

}



#fmap #currF ul .remove

{

	width:5px;

	height:1em;

	display:block;

	overflow:hidden;

	text-indent:100px;

	float:left;

	padding-left:8px;

	padding-right:0px;

	background: #ffffff url(/cheetah/images/conquest/remove.png) left center no-repeat;

}

#fmap #currF ul .remove:hover

{

	background: #f8f8f8 url(/cheetah/images/conquest/remove.png) left center no-repeat;

}

#fmap #standF ul a

{

	background: #ffffff;

	padding-left: 15px;
	
	color:#000;

}

#fmap #standF ul a:hover

{

	background: #f8f8f8 url(/cheetah/images/conquest/a-left.gif) left center no-repeat;

}



#fmap #newName div:hover

{	

	background: #f8f8f8 url(/cheetah/images/conquest/del.gif) right center no-repeat;

}



#fmap #buttonBar

{

	text-align:center;

}

#fmap tr:hover {
	background:none;
	font-weight:none;
	color:blue;
}

#fmap input[type="button"] {
	padding:0px;
	height:30px;
}